<div class="card shadow-sm">
  <div class="digitalTools d-flex gap-3">
    <div class="log">
    </div>
    <h2>Implementation tasks</h2>
  </div>
  <div class="card-body">
   <ul>
    <li>Use the value propotision canvas to determine your value propotision</li>
    <li>Test your value propotision with your ideal customer</li>
   </ul>
   <div class="ImplementationResources d-flex gap-3 mt-5">
    <div class="log">
    </div>
    <h2>Implementation Resources</h2>
    </div>
    
    <div class="Resources mt-5">
      <div class="row">
        <div class="col-4">
          <div class="cont">
            <i class="fa-duotone fa-magnifying-glass"></i>
           <h5> Market research</h5>
          </div>
        </div>
        <div class="col-4">
        <div class="cont">
          <i class="fa-duotone fa-chart-mixed"></i>
         <h5>Market Segmentation</h5> 
        </div>
        </div>
        <div class="col-4">
          <div class="cont">
            <i class="fa-duotone fa-message-dots"></i>
            <h5> Talk to a consultant</h5>
          </div>
        </div>
        <div class="col-4">
          <div class="cont">
            <i class="fa-duotone fa-chart-simple"></i>
           <h5>Industry analysis</h5> 
          </div>
        </div>
        <div class="col-4">
          <div class="cont">
            <i class="fa-duotone fa-down-to-bracket"></i>
           <h5>Downloads</h5> 
          </div>
        </div>
      </div>
    </div>
  
   </div>
</div>