label {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;     }


    .selected-radio {
        border: 2px solid blue;
        border-radius: 50%;
      }