.log {
    width: 16px;
    height: 30px;
    background: #CABDFF;
    border-radius: 4px;
    position: relative;
  }
  .GrowthSections .log{
    width: 16px;
    height: 30px;
    background: #b6e4ca;
    border-radius: 4px;
    position: relative;
  }
  .radioElements{
    margin-left: 20px;
  }