<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span>{{ l('Details') }}</span>
        </h4>

        <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6 mb-3">
            <h6>{{ l('Name') }} :</h6>
            {{ item.name }}
          </div>
          <div class="col-6 mb-3">
            <h6>{{ l('Duration') }} :</h6>
            {{ item.duration }}
          </div>
          <div class="col-6 mb-3">
            <h6>{{ l('LessionType') }} :</h6>
            {{ l(lessionTypeEnum[item.lessionType]) }}
          </div>
          <div class="col-6 mb-3">
            <h6>{{ l('VideoUrl') }} :</h6>
            {{ item.videoUrl }}
          </div>
          <div class="col-6 mb-3">
            <h6>{{ l('Summary') }} :</h6>
            {{ item.summary }}
          </div>
          <div class="col-6 mb-3">
            <h6>{{ l('IsFreeLesson') }} :</h6>
            <div *ngIf="item.isFreeLesson" class="text-left">
              <i class="fa fa-check-circle text-success" title="True"></i>
            </div>
            <div *ngIf="!item.isFreeLesson" class="text-left">
              <i class="fa fa-times-circle" title="False"></i>
            </div>
          </div>
          <div class="col-6 mb-3">
            <h6>{{ l('Order') }} :</h6>
            {{ item.order }}
          </div>
          <div class="col-6 mb-3">
            <h6>{{ l('Attachment') }} :</h6>
            <a href="{{ getDownloadUrl(item.attachment) }}" target="_blank">
              {{ item.attachmentFileName }}
            </a>
          </div>
          <div class="col-6 mb-3">
            <h6>{{ l('Caption') }} :</h6>
            {{ item.caption }}
          </div>
          <div class="col-6 mb-3">
            <h6>{{ l('CloudVideoId') }} :</h6>
            {{ item.cloudVideoId }}
          </div>

          <div class="col-6 mb-3">
            <h6>({{ l('CourseSection') }}) {{ l('Name') }} :</h6>
            {{ item.courseSectionName }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">
          {{ l('Close') }}
        </button>
      </div>
    </div>
  </div>
</div>
