<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <form [formGroup]="form" autocomplete="off">
      <div class="modal-header">
        <h4 class="modal-title">
          <span *ngIf="this.id">{{ l('Edit Industry') }}</span>
          <span *ngIf="!this.id">{{ l('Create New Industry') }}</span>
        </h4>
        <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
      </div>
      <div class="modal-body">
        <div class="my-3">
          <label class="form-label" for="name">{{ l('Name') }} <span class="required-field">*</span></label>
          <input
          #nameRef
          (keyup.enter)="shortCutOnEnter('nameRef')"
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
            [ngClass]="{'is-invalid': form.get('name').invalid && (form.get('name').dirty || form.get('name').touched),
                        'is-valid': form.get('name').valid && (form.get('name').dirty || form.get('name').touched)}"
          />
        </div>
        <div class="my-3">
          <label class="form-label" for="shortDescription">{{ l('shortDescription') }}<span class="required-field">*</span></label>
          <input
          #shortDesRef
          (keyup.enter)="shortCutOnEnter('shortDesRef')"
            type="text"
            
            id="shortDescription"
            class="form-control"
            formControlName="shortDescription"
            [ngClass]="{'is-invalid': form.get('shortDescription').invalid && (form.get('shortDescription').dirty || form.get('shortDescription').touched),
                        'is-valid': form.get('shortDescription').valid && (form.get('shortDescription').dirty || form.get('shortDescription').touched)}"
          />

        </div>
       
      </div>
      <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
        <button
          type="submit"
          class="btn btn-primary blue"
          [disabled]="this.form.invalid"
          [buttonBusy]="saving"
          [busyText]="l('SavingWithThreeDot')"
          (click)="save()"
        >
          <i class="fa fa-save" ></i>
          <span>{{ l('Save') }}</span>
        </button>
      </div>
         {{this.form.getRawValue()|json}}
    </form>
  </div>
</div>
</div>
