<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <div class="container-fluid">

      <a class="navbar-brand logo" style="width: 150px" href="index.html"><img src="../assets/images/logo.png" class="img-fluid" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav ms-auto" style="margin-left: auto!important;">
              <li class="nav-item">
                  <a class="nav-link px-sm-3" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link px-sm-3" href="#">Blog</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link px-sm-3" href="#">About Us</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<!-- End Header -->
<!-- Hero Section -->
<section id="hero">

   
      <div class="row">
          <div class="col-4 h-auto">
              <img src="../../../../assets/images/image.png" alt="">
              <div class="UserName">
                  <h2>John Wick</h2>
              </div>
               
          
              <div class="CompanyLeft">
                  <h3>Company  <i class="fa-duotone fa-trophy"></i></h3>
                  <button class="btn  ng-star-inserted" ><i class="fa fa-plus ng-tns-c266-14"></i> Add Company</button>
              </div>
                 
          </div>
          <div class="col-8">
              <div class="imagesCompany">
                  <img src="../../../../assets/images/company.png" alt="">
              </div>
          <div class="addCompany">
              <button class="btn  ng-star-inserted" ><i class="fa fa-plus ng-tns-c266-14"></i> Add Company</button>
              
          </div>
         <div class="Desc mt-3">
          After completing the assessment you will get <br>  a business health report that will give you <br> recommendations on
         </div>
          </div>
      </div>


</section>

