<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <form [formGroup]="form" autocomplete="off">
      <div class="modal-header">
        <h4 class="modal-title">
          <span *ngIf="this.id">{{ l('Edit Incubator') }}</span>
          <span *ngIf="!this.id">{{ l('Create Incubator') }}</span>
        </h4>
        <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
      </div>
      <div class="modal-body">
        <div class="my-3">
          <label class="form-label" for="industryId">{{ l('industryId') }}</label>
          <ng-select [items]="industry$ | async" bindLabel="displayName" bindValue="id" formControlName="industryId"
            placeholder="Select an industry" required></ng-select>
        </div>

        <div class="my-3">
          <label class="form-label" for="name">{{ l('Name') }}</label>
          <input type="text" id="name" class="form-control" formControlName="name" />

        </div>
        <div class="my-3">
          <label class="form-label" for="address">{{ l('address') }}</label>
          <input type="text" id="address" class="form-control" formControlName="address" />

        </div>
      
        <div class="my-3">
          <label class="form-label" for="jobExperience">{{ l('jobExprience') }}</label>
          <input type="text" id="jobExperience" class="form-control" formControlName="jobExperience" />

        </div>
        <div class="my-3">
          <label class="form-label" for="qualification">{{ l('qualification') }}</label>
          <input type="text" id="qualification" class="form-control" formControlName="qualification" />

        </div>
        <div class="my-3">
          <label class="form-label" for="email">{{ l('email') }}</label>
          <input type="email" id="email" class="form-control" formControlName="email" />

        </div>
        <div class="my-3">
          <label class="form-label" for="phone">{{ l('phone') }}</label>
          <input type="number" id="phone" class="form-control" formControlName="phone" />

        </div>
        <div class="symbol symbol-65px symbol-circle mb-5">
          <img [src]="photoUrl" alt="image">
        </div>
        <div class="mb-5">
          <div class="input-group">
            <div class="custom-file">
              <input class="form-control" type="file" id="Image" id="uploadProfilePicture"
                (change)="fileChangeEvent($event)" formControlName="photoUrl" />
              <label class="custom-file-label" #uploadProfilePictureInputLabel for="uploadProfilePicture">
                {{ 'ChooseAFile' | localize }}
              </label>
            </div>
            <span class="form-text text-muted col-lg-12">
              {{ 'ProfilePicture_Change_Info' | localize: maxProfilPictureBytesUserFriendlyValue }}
            </span>
          </div>
        </div>
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
          [resizeToWidth]="128" format="png" (imageCropped)="imageCroppedFile($event)"></image-cropper>
      </div>
      <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
        <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"
          (click)="save()">
          <i class="fa fa-save"></i>
          <span>{{ l('Save') }}</span>
        </button>
      </div>
      {{this.form.getRawValue()|json}}
    </form>
  </div>
</div>
</div>
