<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #jobForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="job.id">{{ l('EditJob') }}</span>
            <span *ngIf="!job.id">{{ l('CreateNewJob') }}</span>
          </h4>

          <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
        </div>
        <div class="modal-body">
          <div class="my-3">
            <label class="form-label" for="Job_Name">{{ l('Name') }}</label>
            <input
              type="text"
              #Job_Name="ngModel"
              id="Job_Name"
              class="form-control"
              [(ngModel)]="job.name"
              name="Name"
            />
            <validation-messages [formCtrl]="Job_Name"></validation-messages>
          </div>

          <div class="my-3">
            <label class="form-label" for="Job_Description">{{ l('Description') }}</label>
            <input
              type="text"
              #Job_Description="ngModel"
              id="Job_Description"
              class="form-control"
              [(ngModel)]="job.description"
              name="Description"
            />
            <validation-messages [formCtrl]="Job_Description"></validation-messages>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-primary blue"
            [disabled]="!jobForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i>
            <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

