
        <div class="card mb-5 mb-xl-10">
          <div class="card-header border-0 pt-5">
            <h3 class="card-title align-items-start flex-column">
                <div class="dashboard d-flex gap-3">
                    <div class="log">
                    </div>
                    <span class="card-label fw-bold fs-3 mb-1">Registered Users</span>
                    <button class="exportCsv">
                      <i class="fa-duotone fa-down-to-bracket" style="color: #ffff;"></i> &nbsp; Export CSV
                    </button>
                  </div>
            </h3>
          </div>
          <div class="card-body py-3">
           
            <div class="table-responsive">
              <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                <thead>
                  <tr class="fw-bold text-muted">
                    <th class="min-w-20px">Id</th>
                    <th class="min-w-100px">Name</th>
                    <th class="min-w-150px">Email</th>
                    <th class="min-w-100px">UserType</th>
                    <th class="min-w-100px text-end">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class=" align-items-center">
                        <h2>1</h2>
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                        Muhammad Aqib Rasheed
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                        muhammadaqibrasheed@gmail.com
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                      ---
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-end flex-shrink-0">
                        <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                          <i class="fa-duotone fa-eye"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                        <a  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                          <i class="fa-duotone fa-envelope"><span class="path1"></span><span class="path2"></span><span
                              class="path3"></span><span class="path4"></span><span class="path5"></span></i> </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class=" align-items-center">
                        <h2>1</h2>
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                        Muhammad Aqib Rasheed
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                        muhammadaqibrasheed@gmail.com
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                      ---
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-end flex-shrink-0">
                        <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                          <i class="fa-duotone fa-eye"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                        <a  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                          <i class="fa-duotone fa-envelope"><span class="path1"></span><span class="path2"></span><span
                              class="path3"></span><span class="path4"></span><span class="path5"></span></i> </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class=" align-items-center">
                        <h2>1</h2>
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                        Muhammad Aqib Rasheed
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                        muhammadaqibrasheed@gmail.com
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                      ---
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-end flex-shrink-0">
                        <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                          <i class="fa-duotone fa-eye"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                        <a  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                          <i class="fa-duotone fa-envelope"><span class="path1"></span><span class="path2"></span><span
                              class="path3"></span><span class="path4"></span><span class="path5"></span></i> </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class=" align-items-center">
                        <h2>1</h2>
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                        Muhammad Aqib Rasheed
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                        muhammadaqibrasheed@gmail.com
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                      ---
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-end flex-shrink-0">
                        <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                          <i class="fa-duotone fa-eye"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                        <a  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                          <i class="fa-duotone fa-envelope"><span class="path1"></span><span class="path2"></span><span
                              class="path3"></span><span class="path4"></span><span class="path5"></span></i> </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class=" align-items-center">
                        <h2>1</h2>
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                        Muhammad Aqib Rasheed
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                        muhammadaqibrasheed@gmail.com
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                      ---
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-end flex-shrink-0">
                        <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                          <i class="fa-duotone fa-eye"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                        <a  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                          <i class="fa-duotone fa-envelope"><span class="path1"></span><span class="path2"></span><span
                              class="path3"></span><span class="path4"></span><span class="path5"></span></i> </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class=" align-items-center">
                        <h2>1</h2>
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                        Muhammad Aqib Rasheed
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                        muhammadaqibrasheed@gmail.com
                      </div>
                    </td>
                    <td>
                      <div class=" align-items-center">
                      ---
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-end flex-shrink-0">
                        <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                          <i class="fa-duotone fa-eye"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                        <a  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                          <i class="fa-duotone fa-envelope"><span class="path1"></span><span class="path2"></span><span
                              class="path3"></span><span class="path4"></span><span class="path5"></span></i> </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <!--end::Table body-->
              </table>
              <!--end::Table-->
            </div>
            <!--end::Table container-->
          </div>
          <!--begin::Body-->
        </div>