<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form [formGroup]="form" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="this.id">{{ l('Edit Assignment') }}</span>
            <span *ngIf="!this.id">{{ l('Create Assignment') }}</span>
          </h4>
          <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
        </div>
        <div class="modal-body">
          <div class="card shadow-sm">

            <div class="card-body">
              <!-- Creation Of Form  -->
              <div class="my-3">
                <label for="course">Select Business Phase:</label>
                <ng-select #class bindLabel="displayName" 
                (change)="assignmentCategory(this.form.get('businessPhaseId').value)"
                [items]="businesss$ | async" id="businessPhaseId"
                  name="businessPhaseId" formControlName="businessPhaseId" bindValue="id"
                  placeholder="Select items" required [readonly]="this.id"></ng-select>
              </div>
              <div class="my-3">
                <label for="assignmentCategoryId">Select Assignment catagory:</label>
                <ng-select #class bindLabel="displayName" [items]="catagory" id="assignmentCategoryId"
                  name="assignmentCategoryId" formControlName="assignmentCategoryId" bindValue="id"
                  placeholder="Select items" required ></ng-select>
              </div>
              <div class="my-3">
                <label for="prorityId">Select Priority</label>
                <ng-select #class bindLabel="displayName"  
                 [items]="  priority$ | async" id="prorityId"
                  name="prorityId" formControlName="prorityId" bindValue="id"
                  placeholder="Select items" required ></ng-select>
              </div>
              <div class="my-3">
                <label class="form-label" for="name">{{ l('Name') }}</label>
                <input type="text" id="name" class="form-control" formControlName="name" />
              </div>
              <div class="my-3">
                <label class="form-label" for="yesAnsDescription">{{ l('yesAnsDescription') }}</label>
                <input type="text" id="yesAnsDescription" class="form-control" formControlName="yesAnsDescription" />
              </div>
              <div class="my-3">
                <label class="form-label" for="noAnsDescription">{{ l('noAnsDescription') }}</label>
                <input type="text" id="noAnsDescription" class="form-control" formControlName="noAnsDescription" />
              </div>
             
              <div class="my-3">
                <label class="form-label" for="shortDescription">{{ l('shortDescription') }}</label>
                <input type="text" id="shortDescription" class="form-control" formControlName="shortDescription" />
              </div>
              <div class="my-3">
                <label class="form-label" for="order">{{ l('order') }}</label>
                <input type="number" id="order" class="form-control" formControlName="order" />
              </div>
              <!-- <div class="my-3">
                <label for="course">Select  assignment Catagory:</label>
                <ng-select #class bindLabel="displayName" [items]="catagory$ | async" id="assignmentCategoryId"
                  name="assignmentCategoryId" formControlName="assignmentCategoryId" bindValue="id"
                  placeholder="Select items" required [readonly]="this.id"></ng-select>
              </div> -->
              
                 
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel')
                }}</button>
              <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving"
                [busyText]="l('SavingWithThreeDot')" (click)="save()">
                <i class="fa fa-save"></i>
                <span>{{ l('Save') }}</span>
              </button>
            </div>
            {{this.form.getRawValue()|json}}
      </form>
    </div>
  </div>
</div>